{% extends 'base.html.twig'%}
{% block title %}{{articles.title}}{% endblock %}

{% block body %}
    <h1>{{articles.title}}</h1>
    <p>{{articles.body}}</p>
    <hr>
    <a href="/symphart/public">Go Back</a>
{% endblock %}